@import url("./styles/globals.css");
@import url("./styles/fonts.css");

:root {
  font-family:
    var(--font-body),
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-mono), monospace;
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

nav a {
  margin-right: 16px;
}
